<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mini_Framework">
    <test verbose="2" preserve-order="true"
          name="Mini_Framework">
        <classes>

               <class name="testcase.MyFirstTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>